<% layout('layout/boilerplate') %>
<div class="container">
	<h1>Testing Campgrounds page</h1>

	<% for(let campground of campgrounds){ %>

	<div class="card my-2" style="max-width: 960px">
		<div class="row g-0">
			<div class="col-md-5">
				<img
					src="<%= campground.image %>"
					class="img-fluid rounded-start"
					alt="..."
				/>
			</div>
			<div class="col-md-7">
				<div class="card-body">
					<h5 class="card-title"><%=campground.title%></h5>
					<h6 class="card-subtitle mb-2 text-muted">
						<%= campground.location %>
					</h6>
					<p class="card-text"><%= campground.description %></p>
					<a href="/campgrounds/<%=campground.id%>" class="btn btn-primary"
						>Details</a
					>
				</div>
			</div>
		</div>
	</div>

	<% } %>
</div>
